@import "https://fonts.googleapis.com/css?family=Open+Sans";

.main-container {
  position: relative;
  top: 80px;
}
h1 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: white;
  font-size: 45px;
}
